body {
  background-color: white;
  margin: 0;
}

.header {
  width: 100vw;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.title {
  color: white;
  font-size: 18px;
}

.main-container {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email, .password {
  width: 22rem;
  height: 3rem;
  margin-bottom: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: 3.5px solid #000;
  border-radius: 7px; 
}

.logIn-button {
  width: 22rem;
  height: 3rem;
  margin-bottom: 1.6rem;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: normal;
  font-weight: 700;
  cursor: pointer;
  border: 3.5px solid #000;
  border-radius: 7px;
  box-sizing: border-box;
  -webkit-transition: transform .2s ease;
  transition: transform .2s ease;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0) scale(1.0, 1.0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.google-button {
  margin-bottom: 1.6rem;
  width: 22rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 3.5px solid #000;
  border-radius: 7px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: transform .2s ease;
  transition: transform .2s ease;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0) scale(1.0, 1.0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.google-icon {
  margin-right: .7rem;
}

.google-button:hover, .logIn-button:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.google-button:active, .logIn-button:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.or {
  margin-bottom: 1.6rem;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  letter-spacing: .5px;
  font-size: 15.5px;
  font-weight: 600;
}
