body {
  background-color: white;
  margin: 0;
}

.header {
  width: 100vw;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.title {
  color: white;
  font-size: 18px;
}

.main-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

input {
  border-color: black;
  width: 19vw;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  display: block;
  padding: 12px 20px;
  color: gray;
}

.form-container {
  margin: 25px 0;
}

.button-container {
  margin-bottom: 1.8rem;
  -webkit-transition: transform .2s ease;
  transition: transform .2s ease;
}

.button-container:hover {
  transform: translate3d(0, -3px, 0)
}

.button-container:active {
  transform: translate3d(0, 0, 0)
}

.google-button, .logIn-button {
  margin-bottom: 1.8rem;
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: transform .2s ease;
  transition: transform .2s ease;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0) scale(1.0, 1.0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.google-button:hover, .logIn-button:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.google-button:active, .logIn-button:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.google-button {
  background-color: white;
}

.logIn-button {
  background-color: black;
  color: white;
}

